In [2]:
import pandas as pd
import os
import numpy as np
import glob
import re
import matplotlib.pyplot as plt
import matplotlib as mp
import math

import warnings
warnings.filterwarnings("ignore")

In [3]:
df_stats_data = pd.read_csv("prem_scoreboard.csv", encoding = "utf8")
df_stats_data = df_stats_data[["Club","Played","Won","Drawn","Lost","GF","GA","GD","Points","season","year"]]
df_stats_data.reset_index(drop=True,inplace = True)
df_stats_data["Club"].unique()

array(['Manchester United', 'Aston Villa', 'Norwich City',
       'Blackburn Rovers', 'Queens Park Rangers', 'Liverpool',
       'Sheffield Wednesday', 'Tottenham Hotspur', 'Manchester City',
       'Arsenal', 'Chelsea', 'Wimbledon', 'Everton', 'Sheffield United',
       'Coventry City', 'Ipswich Town', 'Leeds United', 'Southampton',
       'Oldham Athletic', 'Crystal Palace', 'Middlesbrough',
       'Nottingham Forest', 'Newcastle United', 'West Ham United',
       'Swindon Town', 'Leicester City', 'Bolton Wanderers',
       'Derby County', 'Sunderland', 'Barnsley', 'Charlton Athletic',
       'Bradford City', 'Watford', 'WestHam United', 'Fulham',
       'Birmingham City', 'West Bromwich Albion', 'Portsmouth',
       'Wolverhampton Wanderers', 'Wigan Athletic', 'Reading',
       'Stoke City', 'Hull City', 'Burnley', 'Blackpool', 'Swansea City',
       'Cardiff City', 'Bournemouth', 'Brighton and Hove Albion',
       'Huddersfield Town'], dtype=object)

## Getting the scoreboard data for the big 6 teams below

In [4]:
big6 = ["Manchester United",'Manchester City','Arsenal','Chelsea','Tottenham Hotspur',"Liverpool"]

In [5]:
df_big_6 = df_stats_data[(df_stats_data["Club"] == big6[0]) | (df_stats_data["Club"] == big6[1]) | (df_stats_data["Club"] == big6[2])
              | (df_stats_data["Club"] == big6[3]) | (df_stats_data["Club"] == big6[4]) | (df_stats_data["Club"] == big6[5])]

### Saving the data to a filename - "big6.csv"

In [7]:
file_name = 'big6.csv'
  
# saving the excel
df_big_6.to_csv(file_name)

In [8]:
df_win_ratio = df_big_6[["Club","Played","Won","Drawn","Lost","year"]]
df_win_ratio["W/L ratio"] = df_win_ratio["Won"]/df_win_ratio["Lost"]
df_win_ratio_group = df_win_ratio.groupby(["Club","year"]).sum()

In [9]:
df_win_ratio["W/L ratio"].values

array([ 4.        ,  1.06666667,  1.06666667,  1.        ,  0.9375    ,
        1.        ,  6.75      ,  2.57142857,  1.0625    ,  0.76470588,
        0.57894737,  0.6       ,  4.33333333,  2.1       ,  1.33333333,
        0.92857143,  0.76470588,  0.70588235,  4.16666667,  2.85714286,
        1.88888889,  1.77777778,  1.        ,  0.5       ,  4.2       ,
        2.375     ,  2.375     ,  1.45454545,  0.72222222,  3.83333333,
        3.28571429,  2.        ,  1.33333333,  0.6875    ,  7.33333333,
        5.5       ,  6.66666667,  1.07142857,  0.84615385,  9.33333333,
        2.44444444,  2.11111111,  2.        ,  1.        ,  4.        ,
        2.5       ,  2.22222222,  1.54545455,  0.86666667,  0.4       ,
        8.66666667,  4.        ,  2.66666667,  2.125     ,  0.875     ,
        5.        ,  3.83333333,  2.11111111,  1.8       ,  0.88235294,
        0.875     ,         inf,  3.42857143,  2.55555556,  1.6       ,
        0.68421053,  0.6       , 29.        ,  5.        ,  4.4       ,
        1.21428571,  1.08333333,  1.        ,  5.8       ,  5.        ,
        4.16666667,  1.81818182,  2.        ,  0.61904762,  5.6       ,
        8.        ,  2.        ,  2.375     ,  1.41666667,  0.61111111,
        5.4       ,  8.33333333,  8.        ,  5.25      ,  1.15384615,
        0.78571429,  7.        , 12.5       ,  5.        ,  3.33333333,
        0.93333333,  0.83333333,  4.5       ,  3.85714286,  2.55555556,
        2.1       ,  2.57142857,  1.63636364,  5.75      ,  2.33333333,
        2.33333333,  2.375     ,  2.        ,  1.21428571,  5.6       ,
        5.6       ,  2.1       ,  2.22222222,  1.8       ,  1.        ,
        5.6       ,  3.83333333,  3.14285714,  3.        ,  2.625     ,
        1.77777778,  4.5       ,  4.33333333,  4.16666667,  3.42857143,
        1.90909091,  1.58333333,  8.66666667,  3.42857143,  3.14285714,
        2.5       ,  1.58333333,  1.5       ,  2.85714286,  3.16666667,
        1.9       ,  1.9       ,  1.6       ,  1.        ,  6.        ,
        6.5       ,  3.83333333,  3.66666667,  2.55555556,  3.6       ,
       16.        ,  3.57142857,  3.28571429,  4.2       ,  2.1       ,
        1.46153846,  8.        , 30.        ,  2.625     ,  1.76923077,
        2.1       ,  1.9       , 27.        ,  2.57142857,  1.55555556,
        1.5       ,  1.1       ,  1.5       ])

### setting inf value to average of all values 
#### value is infinity as arsenal never lost a game that season
#### win loss ratio is divided by 0

In [12]:
avg = np.mean(df_win_ratio["W/L ratio"].values)
avg

3.4373138343092666

In [13]:
df_win_ratio["W/L ratio"].values[61] = avg

### W/L ratio value for arsenal at 2004 is changed

In [14]:
df_win_ratio[df_win_ratio["Club"]=="Arsenal"]

        Club  Played  Won  Drawn  Lost  year  W/L ratio
9    Arsenal      42   15     11    16  1993   0.937500
25   Arsenal      42   18     17     7  1994   2.571429
55   Arsenal      42   13     12    17  1995   0.764706
70   Arsenal      38   17     12     9  1996   1.888889
88   Arsenal      38   19     11     8  1997   2.375000
106  Arsenal      38   23      9     6  1998   3.833333
127  Arsenal      38   22     12     4  1999   5.500000
147  Arsenal      38   22      7     9  2000   2.444444
167  Arsenal      38   20     10     8  2001   2.500000
186  Arsenal      38   26      9     3  2002   8.666667
207  Arsenal      38   23      9     6  2003   3.833333
226  Arsenal      38   26     12     0  2004   3.437314
247  Arsenal      38   25      8     5  2005   5.000000
269  Arsenal      38   20      7    11  2006   1.818182
289  Arsenal      38   19     11     8  2007   2.375000
308  Arsenal      38   24     11     3  2008   8.000000
329  Arsenal      38   20     12     6  2009   3.333333
348  Arsenal      38   23      6     9  2010   2.555556
369  Arsenal      38   19     11     8  2011   2.375000
388  Arsenal      38   21      7    10  2012   2.100000
409  Arsenal      38   21     10     7  2013   3.000000
429  Arsenal      38   24      7     7  2014   3.428571
448  Arsenal      38   22      9     7  2015   3.142857
467  Arsenal      38   20     11     7  2016   2.857143
490  Arsenal      38   23      6     9  2017   2.555556
511  Arsenal      38   19      6    13  2018   1.461538
530  Arsenal      38   21      7    10  2019   2.100000
554  Arsenal      28    9     13     6  2020   1.500000

#### saving the win loss ratio of all prem teams in 'win_ratio.csv'

In [15]:
df_win_ratio_group


file_name = 'win_ratio.csv'
  
# saving the excel
df_win_ratio_group.to_csv(file_name)

In [16]:
df_win_ratio_group.isnull().sum()

Played       0
Won          0
Drawn        0
Lost         0
W/L ratio    0
dtype: int64

In [17]:
df_managers = df_big_6[(df_big_6["year"]>= 2005)]
df_managers.reset_index(drop= True, inplace= True)

In [18]:
df_managers["Managers"] = 'n/a'

In [19]:
df_managers

,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points,season,year,Managers
0,Chelsea,38,29,8,1,72,15,57,95,2004/2005,2005,n/a
1,Arsenal,38,25,8,5,87,36,51,83,2004/2005,2005,n/a
2,Manchester United,38,22,11,5,58,26,32,77,2004/2005,2005,n/a
3,Liverpool,38,17,7,14,52,41,11,58,2004/2005,2005,n/a
4,Manchester City,38,13,13,12,47,39,8,52,2004/2005,2005,n/a
...,...,...,...,...,...,...,...,...,...,...,...,...
91,Manchester City,28,18,3,7,68,31,37,57,2019/2020,2020,n/a
92,Chelsea,29,14,6,9,51,39,12,48,2019/2020,2020,n/a
93,Manchester United,29,12,9,8,44,30,14,45,2019/2020,2020,n/a
94,Tottenham Hotspur,29,11,8,10,47,40,7,41,2019/2020,2020,n/a
95,Arsenal,28,9,13,6,40,36,4,40,2019/2020,2020,n/a

### Manunited Managers

In [20]:
df_managers.loc[(df_managers["year"]>= 2005) & (df_managers["year"]<= 2013) & (df_managers["Club"]== "Manchester United"), "Managers"] = "Sir Alex Ferguson"
df_managers.loc[(df_managers["year"]== 2014) & (df_managers["Club"]== "Manchester United"), "Managers"] = "David Moyes"
df_managers.loc[(df_managers["year"]>= 2015) & (df_managers["year"]<= 2016) & (df_managers["Club"]== "Manchester United"), "Managers"] = "Louis van Gaal"
df_managers.loc[(df_managers["year"]>= 2017) & (df_managers["year"]<= 2018) & (df_managers["Club"]== "Manchester United"), "Managers"] = "José Mourinho"
df_managers.loc[(df_managers["year"]>= 2019) & (df_managers["year"]<= 2020) & (df_managers["Club"]== "Manchester United"), "Managers"] = "Ole Gunnar Solskjaer"

In [21]:
df_managers[(df_managers["Club"]== "Manchester United")]

,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points,season,year,Managers
2,Manchester United,38,22,11,5,58,26,32,77,2004/2005,2005,Sir Alex Ferguson
7,Manchester United,38,25,8,5,72,34,38,83,2005/2006,2006,Sir Alex Ferguson
12,Manchester United,38,28,5,5,83,27,56,89,2006/2007,2007,Sir Alex Ferguson
18,Manchester United,38,27,6,5,80,22,58,87,2007/2008,2008,Sir Alex Ferguson
24,Manchester United,38,28,6,4,68,24,44,90,2008/2009,2009,Sir Alex Ferguson
31,Manchester United,38,27,4,7,86,28,58,85,2009/2010,2010,Sir Alex Ferguson
36,Manchester United,38,23,11,4,78,37,41,80,2010/2011,2011,Sir Alex Ferguson
43,Manchester United,38,28,5,5,89,33,56,89,2011/2012,2012,Sir Alex Ferguson
48,Manchester United,38,28,5,5,86,43,43,89,2012/2013,2013,Sir Alex Ferguson
59,Manchester United,38,19,7,12,64,43,21,64,2013/2014,2014,David Moyes
63,Manchester United,38,20,10,8,62,37,25,70,2014/2015,2015,Louis van Gaal
69,Manchester United,38,19,9,10,49,35,14,66,2015/2016,2016,Louis van Gaal
77,Manchester United,38,18,15,5,54,29,25,69,2016/2017,2017,José Mourinho
79,Manchester United,38,25,6,7,68,28,40,81,2017/2018,2018,José Mourinho
89,Manchester United,38,19,9,10,65,54,11,66,2018/2019,2019,Ole Gunnar Solskjaer
93,Manchester United,29,12,9,8,44,30,14,45,2019/2020,2020,Ole Gunnar Solskjaer

### Chelsea Managers

In [22]:
df_managers.loc[(df_managers["year"]>= 2005) & (df_managers["year"]<= 2007) & (df_managers["Club"]== "Chelsea"), "Managers"] = "José Mourinho"
df_managers.loc[(df_managers["year"]== 2008) & (df_managers["Club"]== "Chelsea"), "Managers"] = "Luiz Felipe Scolari"
df_managers.loc[(df_managers["year"]>= 2009) & (df_managers["year"]<= 2011) & (df_managers["Club"]== "Chelsea"), "Managers"] = "Carlo Ancelotti"
df_managers.loc[(df_managers["year"]== 2012) & (df_managers["Club"]== "Chelsea"), "Managers"] = "André Villas-Boas"

df_managers.loc[(df_managers["year"]== 2013) & (df_managers["Club"]== "Chelsea"), "Managers"] = "Roberto Di Matteo"
df_managers.loc[(df_managers["year"]>= 2014) & (df_managers["year"]<= 2016) & (df_managers["Club"]== "Chelsea"), "Managers"] = "José Mourinho"
df_managers.loc[(df_managers["year"]>= 2017) & (df_managers["year"]<= 2018) & (df_managers["Club"]== "Chelsea"), "Managers"] = "Antonio Conte"
df_managers.loc[(df_managers["year"]== 2019) & (df_managers["Club"]== "Chelsea"), "Managers"] = "Maurizio Sarri"
df_managers.loc[(df_managers["year"]== 2020) & (df_managers["Club"]== "Chelsea"), "Managers"] = "Frank Lampard"




df_managers[(df_managers["Club"]== "Chelsea")]

,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points,season,year,Managers
0,Chelsea,38,29,8,1,72,15,57,95,2004/2005,2005,José Mourinho
6,Chelsea,38,29,4,5,72,22,50,91,2005/2006,2006,José Mourinho
13,Chelsea,38,24,11,3,64,24,40,83,2006/2007,2007,José Mourinho
19,Chelsea,38,25,10,3,65,26,39,85,2007/2008,2008,Luiz Felipe Scolari
26,Chelsea,38,25,8,5,68,24,44,83,2008/2009,2009,Carlo Ancelotti
30,Chelsea,38,27,5,6,103,32,71,86,2009/2010,2010,Carlo Ancelotti
37,Chelsea,38,21,8,9,69,33,36,71,2010/2011,2011,Carlo Ancelotti
46,Chelsea,38,18,10,10,65,46,19,64,2011/2012,2012,André Villas-Boas
50,Chelsea,38,22,9,7,75,39,36,75,2012/2013,2013,Roberto Di Matteo
56,Chelsea,38,25,7,6,71,27,44,82,2013/2014,2014,José Mourinho
60,Chelsea,38,26,9,3,73,32,41,87,2014/2015,2015,José Mourinho
71,Chelsea,38,12,14,12,59,53,6,50,2015/2016,2016,José Mourinho
72,Chelsea,38,30,3,5,85,33,52,93,2016/2017,2017,Antonio Conte
82,Chelsea,38,21,7,10,62,38,24,70,2017/2018,2018,Antonio Conte
86,Chelsea,38,21,9,8,63,39,24,72,2018/2019,2019,Maurizio Sarri
92,Chelsea,29,14,6,9,51,39,12,48,2019/2020,2020,Frank Lampard

### Liverpool Managers

In [23]:
df_managers.loc[(df_managers["year"]>= 2005) & (df_managers["year"]<= 2010) & (df_managers["Club"]== "Liverpool"), "Managers"] = "Rafael Benítez"
df_managers.loc[(df_managers["year"]== 2011) & (df_managers["Club"]== "Liverpool"), "Managers"] = "Roy Hodgson"

df_managers.loc[(df_managers["year"]>= 2012) & (df_managers["year"]<= 2015) & (df_managers["Club"]== "Liverpool"), "Managers"] = "Brendan Rodgers"
df_managers.loc[(df_managers["year"]>= 2016) & (df_managers["year"]<= 2020) & (df_managers["Club"]== "Liverpool"), "Managers"] = "Jürgen Klopp"

df_managers[(df_managers["Club"]== "Liverpool")]

,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points,season,year,Managers
3,Liverpool,38,17,7,14,52,41,11,58,2004/2005,2005,Rafael Benítez
8,Liverpool,38,25,7,6,57,25,32,82,2005/2006,2006,Rafael Benítez
14,Liverpool,38,20,8,10,57,27,30,68,2006/2007,2007,Rafael Benítez
21,Liverpool,38,21,13,4,67,28,39,76,2007/2008,2008,Rafael Benítez
25,Liverpool,38,25,11,2,77,27,50,86,2008/2009,2009,Rafael Benítez
35,Liverpool,38,18,9,11,61,35,26,63,2009/2010,2010,Rafael Benítez
41,Liverpool,38,17,7,14,59,44,15,58,2010/2011,2011,Roy Hodgson
47,Liverpool,38,14,10,14,47,40,7,52,2011/2012,2012,Brendan Rodgers
53,Liverpool,38,16,13,9,71,43,28,61,2012/2013,2013,Brendan Rodgers
55,Liverpool,38,26,6,6,101,50,51,84,2013/2014,2014,Brendan Rodgers
65,Liverpool,38,18,8,12,52,48,4,62,2014/2015,2015,Brendan Rodgers
70,Liverpool,38,16,12,10,63,50,13,60,2015/2016,2016,Jürgen Klopp
75,Liverpool,38,22,10,6,78,42,36,76,2016/2017,2017,Jürgen Klopp
81,Liverpool,38,21,12,5,84,38,46,75,2017/2018,2018,Jürgen Klopp
85,Liverpool,38,30,7,1,89,22,67,97,2018/2019,2019,Jürgen Klopp
90,Liverpool,29,27,1,1,66,21,45,82,2019/2020,2020,Jürgen Klopp

### Mancherster City Managers

In [24]:
df_managers.loc[(df_managers["year"]>= 2005) & (df_managers["year"]<= 2006) & (df_managers["Club"]== "Manchester City"), "Managers"] = "Stuart Pearce"
df_managers.loc[(df_managers["year"]== 2007) & (df_managers["Club"]== "Manchester City"), "Managers"] = "Sven-Göran Eriksson"
df_managers.loc[(df_managers["year"]>= 2008) & (df_managers["year"]<= 2009) & (df_managers["Club"]== "Manchester City"), "Managers"] = "Mark Hughes"

df_managers.loc[(df_managers["year"]>= 2010) & (df_managers["year"]<= 2013) & (df_managers["Club"]== "Manchester City"), "Managers"] = "Roberto Mancini"

df_managers.loc[(df_managers["year"]>= 2014) & (df_managers["year"]<= 2016) & (df_managers["Club"]== "Manchester City"), "Managers"] = "Manuel Pellegrini"
df_managers.loc[(df_managers["year"]>= 2017) & (df_managers["year"]<= 2020) & (df_managers["Club"]== "Manchester City"), "Managers"] = "Pep Guardiola"




df_managers[(df_managers["Club"]== "Manchester City")]

,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points,season,year,Managers
4,Manchester City,38,13,13,12,47,39,8,52,2004/2005,2005,Stuart Pearce
11,Manchester City,38,13,4,21,43,48,-5,43,2005/2006,2006,Stuart Pearce
17,Manchester City,38,11,9,18,29,44,-15,42,2006/2007,2007,Sven-Göran Eriksson
22,Manchester City,38,15,10,13,45,53,-8,55,2007/2008,2008,Mark Hughes
29,Manchester City,38,15,5,18,58,50,8,50,2008/2009,2009,Mark Hughes
34,Manchester City,38,18,13,7,73,45,28,67,2009/2010,2010,Roberto Mancini
38,Manchester City,38,21,8,9,60,33,27,71,2010/2011,2011,Roberto Mancini
42,Manchester City,38,28,5,5,93,29,64,89,2011/2012,2012,Roberto Mancini
49,Manchester City,38,23,9,6,66,34,32,78,2012/2013,2013,Roberto Mancini
54,Manchester City,38,27,5,6,102,37,65,86,2013/2014,2014,Manuel Pellegrini
61,Manchester City,38,24,7,7,83,38,45,79,2014/2015,2015,Manuel Pellegrini
68,Manchester City,38,19,9,10,71,41,30,66,2015/2016,2016,Manuel Pellegrini
74,Manchester City,38,23,9,6,80,39,41,78,2016/2017,2017,Pep Guardiola
78,Manchester City,38,32,4,2,106,27,79,100,2017/2018,2018,Pep Guardiola
84,Manchester City,38,32,2,4,95,23,72,98,2018/2019,2019,Pep Guardiola
91,Manchester City,28,18,3,7,68,31,37,57,2019/2020,2020,Pep Guardiola

### Tottenham Hotspur Managers

In [25]:
df_managers.loc[(df_managers["year"]>= 2005) & (df_managers["year"]<= 2007) & (df_managers["Club"]== "Tottenham Hotspur"), "Managers"] = "Martin Jol"
df_managers.loc[(df_managers["year"]== 2008) & (df_managers["Club"]== "Tottenham Hotspur"), "Managers"] = "Juande Ramos"
df_managers.loc[(df_managers["year"]>= 2009) & (df_managers["year"]<= 2011) & (df_managers["Club"]== "Tottenham Hotspur"), "Managers"] = "Harry Redknapp"

df_managers.loc[(df_managers["year"]>= 2012) & (df_managers["year"]<= 2013) & (df_managers["Club"]== "Tottenham Hotspur"), "Managers"] = "André Villas-Boas"
df_managers.loc[(df_managers["year"]>= 2014) & (df_managers["year"]<= 2019) & (df_managers["Club"]== "Tottenham Hotspur"), "Managers"] = "Mauricio Pochettino"

df_managers.loc[(df_managers["year"]== 2020) & (df_managers["Club"]== "Tottenham Hotspur"), "Managers"] = "José Mourinho"


df_managers[(df_managers["Club"]== "Tottenham Hotspur")]

,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points,season,year,Managers
5,Tottenham Hotspur,38,14,10,14,47,41,6,52,2004/2005,2005,Martin Jol
10,Tottenham Hotspur,38,18,11,9,53,38,15,65,2005/2006,2006,Martin Jol
16,Tottenham Hotspur,38,17,9,12,57,54,3,60,2006/2007,2007,Martin Jol
23,Tottenham Hotspur,38,11,13,14,66,61,5,46,2007/2008,2008,Juande Ramos
28,Tottenham Hotspur,38,14,9,15,45,45,0,51,2008/2009,2009,Harry Redknapp
33,Tottenham Hotspur,38,21,7,10,67,41,26,70,2009/2010,2010,Harry Redknapp
40,Tottenham Hotspur,38,16,14,8,55,46,9,62,2010/2011,2011,Harry Redknapp
45,Tottenham Hotspur,38,20,9,9,66,41,25,69,2011/2012,2012,André Villas-Boas
52,Tottenham Hotspur,38,21,9,8,66,46,20,72,2012/2013,2013,André Villas-Boas
58,Tottenham Hotspur,38,21,6,11,55,51,4,69,2013/2014,2014,Mauricio Pochettino
64,Tottenham Hotspur,38,19,7,12,58,53,5,64,2014/2015,2015,Mauricio Pochettino
67,Tottenham Hotspur,38,19,13,6,69,35,34,70,2015/2016,2016,Mauricio Pochettino
73,Tottenham Hotspur,38,26,8,4,86,26,60,86,2016/2017,2017,Mauricio Pochettino
80,Tottenham Hotspur,38,23,8,7,74,36,38,77,2017/2018,2018,Mauricio Pochettino
87,Tottenham Hotspur,38,23,2,13,67,39,28,71,2018/2019,2019,Mauricio Pochettino
94,Tottenham Hotspur,29,11,8,10,47,40,7,41,2019/2020,2020,José Mourinho

### Arsenal Managers

In [26]:
df_managers.loc[(df_managers["year"]>= 2005) & (df_managers["year"]<= 2017) & (df_managers["Club"]== "Arsenal"), "Managers"] = "Arsène Wenger"
df_managers.loc[(df_managers["year"]>= 2018) & (df_managers["year"]<= 2019) & (df_managers["Club"]== "Arsenal"), "Managers"] = "Unai Emery"
df_managers.loc[(df_managers["year"]== 2020) & (df_managers["Club"]== "Arsenal"), "Managers"] = "Mikel Arteta"


df_managers[(df_managers["Club"]== "Arsenal")]

,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points,season,year,Managers
1,Arsenal,38,25,8,5,87,36,51,83,2004/2005,2005,Arsène Wenger
9,Arsenal,38,20,7,11,68,31,37,67,2005/2006,2006,Arsène Wenger
15,Arsenal,38,19,11,8,63,35,28,68,2006/2007,2007,Arsène Wenger
20,Arsenal,38,24,11,3,74,31,43,83,2007/2008,2008,Arsène Wenger
27,Arsenal,38,20,12,6,68,37,31,72,2008/2009,2009,Arsène Wenger
32,Arsenal,38,23,6,9,83,41,42,75,2009/2010,2010,Arsène Wenger
39,Arsenal,38,19,11,8,72,43,29,68,2010/2011,2011,Arsène Wenger
44,Arsenal,38,21,7,10,74,49,25,70,2011/2012,2012,Arsène Wenger
51,Arsenal,38,21,10,7,72,37,35,73,2012/2013,2013,Arsène Wenger
57,Arsenal,38,24,7,7,68,41,27,79,2013/2014,2014,Arsène Wenger
62,Arsenal,38,22,9,7,71,36,35,75,2014/2015,2015,Arsène Wenger
66,Arsenal,38,20,11,7,65,36,29,71,2015/2016,2016,Arsène Wenger
76,Arsenal,38,23,6,9,77,44,33,75,2016/2017,2017,Arsène Wenger
83,Arsenal,38,19,6,13,74,51,23,63,2017/2018,2018,Unai Emery
88,Arsenal,38,21,7,10,73,51,22,70,2018/2019,2019,Unai Emery
95,Arsenal,28,9,13,6,40,36,4,40,2019/2020,2020,Mikel Arteta

In [27]:
df_managers["Managers"].unique()

array(['José Mourinho', 'Arsène Wenger', 'Sir Alex Ferguson',
       'Rafael Benítez', 'Stuart Pearce', 'Martin Jol',
       'Sven-Göran Eriksson', 'Luiz Felipe Scolari', 'Mark Hughes',
       'Juande Ramos', 'Carlo Ancelotti', 'Harry Redknapp',
       'Roberto Mancini', 'Roy Hodgson', 'André Villas-Boas',
       'Brendan Rodgers', 'Roberto Di Matteo', 'Manuel Pellegrini',
       'Mauricio Pochettino', 'David Moyes', 'Louis van Gaal',
       'Jürgen Klopp', 'Antonio Conte', 'Pep Guardiola', 'Unai Emery',
       'Maurizio Sarri', 'Ole Gunnar Solskjaer', 'Frank Lampard',
       'Mikel Arteta'], dtype=object)

In [28]:
df_managers["Win_Percentage"]= round(df_managers["Won"]/df_managers["Played"] * 100,2)
df_managers["Loss_Percentage"]= round(df_managers["Lost"]/df_managers["Played"] * 100,2)

In [29]:
final_managers = df_managers.groupby("Managers").mean("Win_Percentage")[["Win_Percentage","Loss_Percentage"]]

In [30]:
matches_played = df_managers.groupby("Managers").sum("Played")[["Played"]]

In [31]:
df_managers.groupby("Managers").mean("Win_Percentage")

,Played,Won,Drawn,Lost,GF,GA,GD,Points,year,Win_Percentage,Loss_Percentage
Managers,,,,,,,,,,,
André Villas-Boas,38.0,19.666667,9.333333,9.000000,65.666667,44.333333,21.333333,68.333333,2012.333333,51.753333,23.683333
Antonio Conte,38.0,25.500000,5.000000,7.500000,73.500000,35.500000,38.000000,81.500000,2017.500000,67.105000,19.740000
Arsène Wenger,38.0,21.615385,8.923077,7.461538,72.461538,38.230769,34.230769,73.769231,2011.000000,56.882308,19.634615
Brendan Rodgers,38.0,18.500000,9.250000,10.250000,67.750000,45.250000,22.500000,64.750000,2013.500000,48.685000,26.972500
Carlo Ancelotti,38.0,24.333333,7.000000,6.666667,80.000000,29.666667,50.333333,80.000000,2010.000000,64.033333,17.543333
David Moyes,38.0,19.000000,7.000000,12.000000,64.000000,43.000000,21.000000,64.000000,2014.000000,50.000000,31.580000
Frank Lampard,29.0,14.000000,6.000000,9.000000,51.000000,39.000000,12.000000,48.000000,2020.000000,48.280000,31.030000
Harry Redknapp,38.0,17.000000,10.000000,11.000000,55.666667,44.000000,11.666667,61.000000,2010.000000,44.736667,28.946667
José Mourinho,37.0,22.111111,9.111111,5.777778,64.444444,30.000000,34.444444,75.444444,2013.111111,59.186667,16.111111
Juande Ramos,38.0,11.000000,13.000000,14.000000,66.000000,61.000000,5.000000,46.000000,2008.000000,28.950000,36.840000
Jürgen Klopp,36.2,23.200000,8.400000,4.600000,76.000000,34.600000,41.400000,78.000000,2018.000000,65.462000,12.270000
Louis van Gaal,38.0,19.500000,9.500000,9.000000,55.500000,36.000000,19.500000,68.000000,2015.500000,51.315000,23.685000
Luiz Felipe Scolari,38.0,25.000000,10.000000,3.000000,65.000000,26.000000,39.000000,85.000000,2008.000000,65.790000,7.890000
Manuel Pellegrini,38.0,23.333333,7.000000,7.666667,85.333333,38.666667,46.666667,77.000000,2015.000000,61.403333,20.176667
Mark Hughes,38.0,15.000000,7.500000,15.500000,51.500000,51.500000,0.000000,52.500000,2008.500000,39.470000,40.790000
Martin Jol,38.0,16.333333,10.000000,11.666667,52.333333,44.333333,8.000000,59.000000,2006.000000,42.983333,30.700000
Mauricio Pochettino,38.0,21.833333,7.333333,8.833333,68.166667,40.000000,28.166667,72.833333,2016.500000,57.456667,23.246667
Maurizio Sarri,38.0,21.000000,9.000000,8.000000,63.000000,39.000000,24.000000,72.000000,2019.000000,55.260000,21.050000
Mikel Arteta,28.0,9.000000,13.000000,6.000000,40.000000,36.000000,4.000000,40.000000,2020.000000,32.140000,21.430000
Ole Gunnar Solskjaer,33.5,15.500000,9.000000,9.000000,54.500000,42.000000,12.500000,55.500000,2019.500000,45.690000,26.955000
Pep Guardiola,35.5,26.250000,4.500000,4.750000,87.250000,30.000000,57.250000,83.250000,2018.500000,73.310000,14.145000
Rafael Benítez,38.0,21.000000,9.166667,7.833333,61.833333,30.500000,31.333333,72.166667,2007.500000,55.263333,20.615000
Roberto Di Matteo,38.0,22.000000,9.000000,7.000000,75.000000,39.000000,36.000000,75.000000,2013.000000,57.890000,18.420000
Roberto Mancini,38.0,22.500000,8.750000,6.750000,73.000000,35.250000,37.750000,76.250000,2011.500000,59.210000,17.762500
Roy Hodgson,38.0,17.000000,7.000000,14.000000,59.000000,44.000000,15.000000,58.000000,2011.000000,44.740000,36.840000
Sir Alex Ferguson,38.0,26.222222,6.777778,5.000000,77.777778,30.444444,47.333333,85.444444,2009.000000,69.003333,13.160000
Stuart Pearce,38.0,13.000000,8.500000,16.500000,45.000000,43.500000,1.500000,47.500000,2005.500000,34.210000,43.420000
Sven-Göran Eriksson,38.0,11.000000,9.000000,18.000000,29.000000,44.000000,-15.000000,42.000000,2007.000000,28.950000,47.370000
Unai Emery,38.0,20.000000,6.500000,11.500000,73.500000,51.000000,22.500000,66.500000,2018.500000,52.630000,30.265000

In [32]:
top10_managers_winloss_percentage = final_managers.sort_values("Win_Percentage", ascending=False)[:10]

#### getting the top 10 managers stats

In [33]:
top10_managers_winloss_percentage

                     Win_Percentage  Loss_Percentage
Managers
Pep Guardiola             73.310000        14.145000
Sir Alex Ferguson         69.003333        13.160000
Antonio Conte             67.105000        19.740000
Luiz Felipe Scolari       65.790000         7.890000
Jürgen Klopp              65.462000        12.270000
Carlo Ancelotti           64.033333        17.543333
Manuel Pellegrini         61.403333        20.176667
Roberto Mancini           59.210000        17.762500
José Mourinho             59.186667        16.111111
Roberto Di Matteo         57.890000        18.420000

In [34]:
matches_played.index.values

array(['André Villas-Boas', 'Antonio Conte', 'Arsène Wenger',
       'Brendan Rodgers', 'Carlo Ancelotti', 'David Moyes',
       'Frank Lampard', 'Harry Redknapp', 'José Mourinho', 'Juande Ramos',
       'Jürgen Klopp', 'Louis van Gaal', 'Luiz Felipe Scolari',
       'Manuel Pellegrini', 'Mark Hughes', 'Martin Jol',
       'Mauricio Pochettino', 'Maurizio Sarri', 'Mikel Arteta',
       'Ole Gunnar Solskjaer', 'Pep Guardiola', 'Rafael Benítez',
       'Roberto Di Matteo', 'Roberto Mancini', 'Roy Hodgson',
       'Sir Alex Ferguson', 'Stuart Pearce', 'Sven-Göran Eriksson',
       'Unai Emery'], dtype=object)

In [36]:
matches_played.reset_index(inplace = True)

In [37]:
matches_played

    index              Managers  Played
0       0     André Villas-Boas     114
1       1         Antonio Conte      76
2       2         Arsène Wenger     494
3       3       Brendan Rodgers     152
4       4       Carlo Ancelotti     114
5       5           David Moyes      38
6       6         Frank Lampard      29
7       7        Harry Redknapp     114
8       8         José Mourinho     333
9       9          Juande Ramos      38
10     10          Jürgen Klopp     181
11     11        Louis van Gaal      76
12     12   Luiz Felipe Scolari      38
13     13     Manuel Pellegrini     114
14     14           Mark Hughes      76
15     15            Martin Jol     114
16     16   Mauricio Pochettino     228
17     17        Maurizio Sarri      38
18     18          Mikel Arteta      28
19     19  Ole Gunnar Solskjaer      67
20     20         Pep Guardiola     142
21     21        Rafael Benítez     228
22     22     Roberto Di Matteo      38
23     23       Roberto Mancini     152
24     24           Roy Hodgson      38
25     25     Sir Alex Ferguson     342
26     26         Stuart Pearce      76
27     27   Sven-Göran Eriksson      38
28     28            Unai Emery      76

In [38]:
played_games =  matches_played[matches_played["Managers"].isin(top10_managers_winloss_percentage.index.values)]

In [39]:
played_games.set_index("Managers",inplace = True)

In [40]:
top10_managers_winloss_percentage = top10_managers_winloss_percentage.join(played_games)

### getting manager data with winloss data and matches played

In [42]:
top10_managers_winloss_percentage

                     Win_Percentage  Loss_Percentage  index  Played
Managers
Pep Guardiola             73.310000        14.145000     20     142
Sir Alex Ferguson         69.003333        13.160000     25     342
Antonio Conte             67.105000        19.740000      1      76
Luiz Felipe Scolari       65.790000         7.890000     12      38
Jürgen Klopp              65.462000        12.270000     10     181
Carlo Ancelotti           64.033333        17.543333      4     114
Manuel Pellegrini         61.403333        20.176667     13     114
Roberto Mancini           59.210000        17.762500     23     152
José Mourinho             59.186667        16.111111      8     333
Roberto Di Matteo         57.890000        18.420000     22      38

In [307]:
file_name = 'top10_managers.csv'
  
# saving the excel
top10_managers_winloss_percentage.to_csv(file_name)